@inject GameInfo gameInfo

<h3>Board</h3>

<table>
    @for (int row = 0; row < gameInfo.MaxRows; row++)
    {
        <tr>
            @for (int col = 0; col < gameInfo.MaxCols; col++)
            {
                var cell = gameInfo.GetCell(row, col) ?? throw new CellNotFoundException();

                <td>
                    <span class="text-center">
                    @(cell.OccupiedBy?.Id.ToString() ?? (cell.IsPillAvailable ? "🌯" : ""))
                    </span>
                </td>
            }
        </tr>
    }
</table>

@code {
    private System.Timers.Timer timer = new(500);
    protected override void OnInitialized()
    {
        timer.Elapsed += (_, _) =>
        {
            _ = InvokeAsync(() => StateHasChanged());
        };
        timer.Start();
        //var timer = new Timer(new TimerCallback(_ =>
        //{
        //    InvokeAsync(() => StateHasChanged());

        //}), null, TimeSpan.FromMilliseconds(500), TimeSpan.FromMilliseconds(500));
    }
}
