@inject GameInfo gameInfo

<div class="border m-3 p-1">
    @if (gameInfo.IsGameStarted)
    {
        <h3>Leader Board</h3>
    }
    else
    {
        <h3>Player List</h3>
    }
    <table>
        <tr>
            <th>#</th>
            <th>Name</th>
            @if (gameInfo.IsGameStarted)
            {
                <th>Score</th>
            }
        </tr>
        @foreach (var p in gameInfo.GetPlayers())
        {
            <tr>
                <td align="center">@p.Id</td>
                <td>@p.Name</td>
                @if (gameInfo.IsGameStarted)
                {
                    <td align="right">@p.Score.ToString("n0")</td>
                }
            </tr>
        }
    </table>
</div>

@code {
    protected override void OnInitialized()
    {
        gameInfo.GameStateChanged += (_, _) => InvokeAsync(() => StateHasChanged());
    }
}
