@inject GameInfo gameInfo

<div class="border m-3">
    <h3>Players</h3>
    <ul>
        @foreach (var p in gameInfo.GetPlayers())
        {
            <li>@p.Id: @p.Name (@p.Score)</li>
        }
    </ul>
</div>

@code {
    protected override void OnInitialized()
    {
        gameInfo.GameStateChanged += (_, _) => InvokeAsync(() => StateHasChanged());
    }
}
