@inject GameInfo gameInfo

<h3>PlayerList</h3>
<ul>
    @foreach(var p in gameInfo.GetPlayers())
    {
        <li>@p.Id: @p.Name (@p.Score)</li>
    }
</ul>

@code {
    protected override void OnInitialized()
    {
        gameInfo.GameStateChanged += (_, _) => InvokeAsync(() => StateHasChanged());
    }
}
