@inject GameLogic gameInfo

<div class="border border-primary m-3 p-3">
    @if (isVisible)
    {
        <a @onclick="toggleVisibility" style="float: right">Reset Game ⏫</a>
        <br />
        <form>
            <input type="password" @ref="codeRef" placeholder="password" @bind-value=secretCode size="4" class="form-control mt-3" />
            <button type="submit" class="btn btn-secondary mt-2 w-100" @onclick="reset">Reset</button>
        </form>
    }
    else
    {
        <a @ref="codeRef" @onclick="toggleVisibility">Reset Game ⏬</a>
    }
</div>

@code {
    private string? secretCode;
    private ElementReference codeRef;
    private void reset()
    {
        if (secretCode != null)
            gameInfo.ResetGame(secretCode);
    }
    private bool isVisible = false;
    private void toggleVisibility()
    {
        isVisible = !isVisible;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (isVisible)
        {
            await codeRef.FocusAsync();
        }
    }
}
