@inject GameInfo gameInfo
<EditForm Model="@NewGame" OnValidSubmit="@HandleValidSubmit">
    <label>
        Rows
        <InputNumber DisplayName="Rows" @bind-Value="NewGame.NumRows" />
    </label>
    <label>
        Columns
        <InputNumber DisplayName="Columns" @bind-Value="NewGame.NumColumns" />
    </label>
    <label>
        Cell Icon
        <InputText DisplayName="Cell Icon" @bind-Value="NewGame.CellIcon" />
    </label>
    <label>
        Secret Code
        <InputText type="password" DisplayName="Secret Code" @bind-Value="NewGame.SecretCode" />
    </label>
    <button type="submit">Start Game</button>
</EditForm>

@code
{
    private class NewGameInfo
    {
        public int NumRows { get; set; } = 15;
        public int NumColumns { get; set; } = 15;
        public string SecretCode { get; set; } = string.Empty;
        public string CellIcon { get; set; } = "🌯";
    }
    private NewGameInfo NewGame = new();

    private async Task HandleValidSubmit()
    {
        gameInfo.StartGame(NewGame.NumRows, NewGame.NumColumns, NewGame.SecretCode);
        await OnGameStarted.InvokeAsync(NewGame.CellIcon);
    }

    [Parameter]
    public EventCallback<string> OnGameStarted{ get; set; }
}