@page "/"
@inject GameLogic gameInfo

<PageTitle>Hungry Hippos</PageTitle>
<div class="row">
    <div class="col">
        <h1>Hungry Game</h1>
    </div>

    <div class="col-auto">
        <div class="text-end mx-3">
            <a href="/help">Help</a><br/>
            <a href="/swagger">Swagger (API Docs)</a>
        </div>

        @if (gameInfo.IsGameStarted)
        {
            <ResetGame />
        }
    </div>
</div>

<div class="row">
    <CascadingValue Value=SharedState>
        @if (gameInfo.IsGameStarted)
        {
            if (gameInfo.IsGameOver)
            {
                <div class="border p-5 m=5 col">
                    <h3 class="text-center">Game Over</h3>
                </div>
            }
            else
            {
                <div class="col">
                    <Board />
                </div>
            }
        }
        else
        {
            <StartGame />
        }
    </CascadingValue>
    <div class="col-auto">
        <PlayerList />
    </div>
</div>

@code
{

    public SharedStateClass SharedState { get; set; } = new();

    protected override void OnInitialized()
    {
        gameInfo.GameStateChanged += (_, _) => InvokeAsync(() => StateHasChanged());
    }
}
