@page "/"
@inject GameLogic gameInfo

<PageTitle>Hungry Game</PageTitle>

<div class="row">
    <div class="col">
        <h1><u>Hungry Game</u></h1>
    </div>

    <div class="col-auto">
        <div class="text-end mx-3">
            <a href="/help">Help</a><br />
            <a href="/swagger">Swagger (API Docs)</a><br/>
            <a href="/player">Web-Based Player</a>
        </div>
    </div>
</div>

<div class="row">
    <CascadingValue Value=SharedState>
        <CurrentGameState />
        @if (gameInfo.IsGameStarted)
        {
            if (gameInfo.IsGameOver)
            {
                <div class="border p-5 m=5 col">
                    <h3 class="text-center">Game Over</h3>
                </div>
                <div class="col-auto">
                    <ResetGame />
                    <PlayerList />
                </div>
            }
            else
            {
                <div class="col">
                    <Board />
                </div>
                <div class="col-auto">
                    @if (gameInfo.IsGameStarted)
                    {
                        <ResetGame />
                    }
                    <PlayerList />
                </div>
            }
        }
        else
        {
            <div class="col">
                <StartGame />
            </div>
            <div class="col-auto">
                <PlayerList />
            </div>
        }
    </CascadingValue>
</div>

@code
{

    public SharedStateClass SharedState { get; set; } = new();

    protected override void OnInitialized()
    {
        gameInfo.GameStateChanged += (_, _) => InvokeAsync(() => StateHasChanged());
    }
}
