@page "/"
@inject GameInfo gameInfo

<PageTitle>Hungry Hippos</PageTitle>
<div style="float: right">
    @if (gameInfo.IsGameStarted)
    {
        <ResetGame />
    }
</div>

<h1>Play Hungry Hippos</h1>
<CascadingValue Value=SharedState>
@if (gameInfo.IsGameStarted)
{
    <Board />
}
else
{
    <StartGame />
}
</CascadingValue>
<PlayerList />

@code
{

    public SharedStateClass SharedState { get; set; } = new();

    protected override void OnInitialized()
    {
        gameInfo.GameStateChanged += (_, _) => InvokeAsync(() => StateHasChanged());
    }
}
