@page "/"
@inject GameInfo gameInfo

<PageTitle>Hungry Hippos</PageTitle>

<h1>Play Hungry Hippos</h1>
@if (!gameInfo.IsGameStarted)
{
    <StartGame OnGameStarted=@GameStartedHandler />
}
else
{
    <Board />
}
<PlayerList />

@code
{
    private void GameStartedHandler()
    {
        StateHasChanged();
    }
}
